{% if settings.home_page_content != empty %}
  {% unless settings.home_page_full_width %}
  <div class="grid">
    <div class="grid__item post-large--two-thirds push--post-large--one-sixth">
  {% endunless %}
      {% if settings.home_show_headings and settings.home_page_show_heading %}
      <div class="section-header section-header--small">
        <h2 class="section-header__title">{{ pages[settings.home_page_content].title }}</h2>
      </div>
      {% endif %}
      <div class="rte custom-test-class">
        <!-- Old include statement to pull in content from Shopify-->
        <!-- {{ pages[settings.home_page_content].content }} -->
        
        <div class="grid">
          <div class="grid__item hero">
            <img src="//placehold.it/1600x750" />
          </div>

          <div class="grid grid__item centered-padded">

            <div class="grid__item padded">
              <img src="//placehold.it/1600x250" />
            </div>

            <div class="grid__item padded">
              <img src="//placehold.it/1600x400" />
            </div>
            <div class="grid__item padded">
              <img src="//placehold.it/1600x400" />
            </div>
            <div class="grid__item padded">
              <img src="//placehold.it/1600x400" />
            </div>
            <div class="grid__item padded">
              <img src="//placehold.it/1600x400" />
            </div>

            <div class="grid__item padded">
              <img src="//placehold.it/1600x250" />
            </div>

            <div class="grid__item large--one-half padded padded-half-first">
              <img src="//placehold.it/1600x250" />
            </div>
            <div class="grid__item large--one-half padded padded-half-second">
              <img src="//placehold.it/1600x250" />
            </div>

            <div class="grid__item padded">
              <img src="//placehold.it/1600x250" />
            </div>

            <div class="grid__item large--one-half padded padded-half-first">
              <img src="//placehold.it/1600x250" />
            </div>
            <div class="grid__item large--one-half padded padded-half-second">
              <img src="//placehold.it/1600x250" />
            </div>

          </div>

        </div>
      </div>
  {% unless settings.home_page_full_width %}
    </div>
  </div>
  {% endunless %}
{% endif %}
