

/*============================================================================
  Site Nav & Header
==============================================================================*/

// hides the old header bar with the cart
.header-bar {
  padding: 0;
}

.site-header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  padding: 0;
  transition: all 1s ease;

  &.fixed-header {
    @include at-query($min, $postSmall) {
      position: fixed;
      background-color: #000;

      .wrapper {
        height: 60px;
        padding: 0 3vw;

        .grid--full {
          height: 60px;
        }

        .site-header__logo img {
          height: 35px;
        }

      }
    }
  }

  img {
    @include at-query($max, $small) {
      max-height: 10vw;
    }
  }

  .wrapper {
    padding: 3vh 3vw;
    max-width: 100%;
  }

  .cart-page-link {
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 0;
  }
}

#your-shopping-cart {
  .site-header {
    background: #000;
    position: relative;
  }
}

.site-nav__link {
  color: #fff;
  font-family: 'PF DIN Text Pro Bold';
  text-transform: uppercase;
  font-size: .8rem;
  padding-right: 35px;

  &:active, &:hover, &:focus {
    color: #ccc;
  }

}

.icon-cart {
  color: #fff;
}

.mobile-nav-trigger {
  .icon {
    color: #fff;
    font-size: 7vw;
  }
}

.mobile-nav {
  text-align: center;
  height: 100vh;
  background: #000;
  opacity: .8;
  position: fixed;
  width: 100%;

  .x-btn {
    float: right;
    margin: 5vw 8vw;
    opacity: 1;
  }

  li {
    height: 12vh;
    border: none;

    &:first-of-type {
      margin-top: 20vh;
    }

    a {
      height: 12vh;
      color: #fff;
      opacity: 1;
      font-family: 'PF DIN Text Pro Bold';
      font-size: 7vw;
    }
  }
}


/*============================================================================
  Shared
==============================================================================*/

html {
  font-size: 14px;
}

body {
  font-family: 'PF DIN Text Pro Regular';
}

.grid {
  margin: 0;
}

.grid__item {
  padding: 0;
}

.frontpage-wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 100vw;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.centered-padded {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.tile-wrapper {
  position: relative;
  line-height: 1;
  background-position: center;
}

.content-wrapper {
  position: relative;
  overflow: auto;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.text-wrapper {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  .dyneema-reason-header {
    margin: 0;
    padding: 0 0 1rem 0;
    font-family: 'PF DIN Text Pro Bold';
    font-size: 1.3vw;
    line-height: 1;
    letter-spacing: .1rem;
    text-transform: uppercase;
    @include at-query(null, $postSmall, $large) {
      font-size: 1.7vw;
    }
    @include at-query($max, $small) {
      font-size: .8rem;
    }
  }

  h4, h6 {
    font-family: 'PF DIN Text Pro Regular';
    margin: 0;
  }

  h1 {
    font-size: 6vw;
    margin: 0;
    font-family: 'PF DIN Text Comp Pro Light';
    letter-spacing: 1rem;
    @include at-query($max, $large) {
      font-size: 4rem;
      letter-spacing: .7rem;
    }
    @include at-query($max, $small) {
      font-size: 12vw;
      letter-spacing: .2rem;
    }
  }

  h4 {
    font-size: 2vw;
    img {
      max-height: 5vw;
    }
  }

  h5.global {
    font-family: 'PF DIN Text Pro Bold';
    font-size: 1.3vw;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin: 0 auto 1vh;
    padding: 0;
    @include at-query(null, $postSmall, $large) {
      font-size: 1.7vw;
    }
    @include at-query($max, $small) {
      font-size: .8rem;
    }
  }

  h6 {
    font-size: 1rem;
    font-family: 'PF DIN Text Pro Bold';
    letter-spacing: .1rem;
    @include at-query($max, $small) {
      font-size: 3.5vw;
    }
  }

  p.global {
    font-family: 'PF DIN Text Pro Regular';
    font-size: 1.3vw;
    letter-spacing: .05rem;
    padding-bottom: 2rem;
    margin: 0 auto 1vh;
    padding: 0 0 1rem 0;
    line-height: 1.5;
    text-transform: none;
    @include at-query(null, $postSmall, $large) {
      font-size:1.4vw;
    }
    @include at-query($max, $small) {
      font-size: .8rem;
    }
  }
}

.eyebrow {
  font-size: 1rem;
  font-family: 'PF DIN Text Pro Bold';
  letter-spacing: .1rem;
  @include at-query($max, $small) {
    font-size: 3.5vw;
  }
}

.hero-tile {
  position: relative;
  height: 90vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center;

  .hero-dropdown-wrapper {
    position: absolute;
    top: 91%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;

    p {
      margin-bottom: .5rem;
      font-family: 'PF DIN Text Pro Bold';
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      @include at-query($max, $small) {
        font-size: .8rem;
      }
    }
  }
}

.hero-notch {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 40px 0 40px;
  border-color: #000000 transparent transparent transparent;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.shop-now-btn {
  margin-top: 1rem;
  background: transparent no-repeat;
  border: 2px solid white;
  font-size: 1.2vw;
  letter-spacing: .1vw;
  font-family: 'PF DIN Text Pro Bold';
  text-transform: uppercase;
  line-height: 1;
  padding: 2vh 4vw;
  border-radius: 0;
  @include at-query($max, $small) {
    font-size: 4vw;
    padding: 4vh 10vw;
  }
}

.dropdown-chevron {
  margin: 0 auto;
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
}

.site-footer {
  background: #000;
  padding: 2.5% 0 3vh 0;
}

.footer-content {
  position: relative;

  p {
    color: #fff;
    margin: 0 10%;
  }
}

.footer-logo {
  margin-bottom: 2%;
  width: 75px;
  @include at-query($min, $postSmall) {
    width: initial;
  }
}

.social-icons {
  position: absolute;
  right: 1%;
  width: 20%;
  top: 0;

  img {
    margin: 0 2%;
    width: 25px;
    @include at-query($min, $postSmall) {
      width: initial;
    }
  }
}

a, .dyneema-link, .dyneema-link-black {
  &:hover {
    color: #50b3da;
  }
}






/*============================================================================
  Product Landing Page (Collections Page)
==============================================================================*/
.hero-tile.hero-product-landing-page {
  @include background-file( linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%), 'hero-product-landing-page-large.png');
  background-size: cover;
  @include at-query(null, $postSmall, $large) {
    @include background-file( linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%), 'hero-product-landing-page-medium.png');
    background-size: cover;
  }
  @include at-query($max, $small) {
    @include background-file( linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%), 'hero-product-landing-page-small.png');
    background-size: cover;
  }
}




/*============================================================================
  Contact Page
==============================================================================*/


.hero-tile.hero-contact {
  // linear gradient with 3 color stops
  @include background-file(linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%), 'hero-contact-large.png');
  background-size: cover;
  @include at-query(null, $postSmall, $large) {
    @include background-file(linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%), 'hero-contact-large.png');
    background-size: cover;
  }
  @include at-query($max, $small) {
    @include background-file(linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%), 'hero-contact-small.png');
    background-size: cover;
  }
}

.contact-form {
  padding: 10% 2%;
  @include at-query($min, $postSmall) {
    padding: 5% 10%;
  }

  .text-wrapper {
    color: #333;
    padding: 0 5%;
  }

  h3 {
    font-family: 'PF DIN Text Pro Bold';
    font-size: 4vw;
    letter-spacing: .1rem;
    margin: 0 0 1vw 0;
    width: 100%;
    @include at-query($max, $small) {
      font-size: 8vw;
    }
  }

  h6 {
    font-family: 'PF DIN Text Pro Regular';
    font-size: 2vw;
    text-transform: none;
    margin: 0;
    letter-spacing: inherit;
    @include at-query($max, $small) {
      font-size: 3.6vw;
    }
  }

  input[type=text], input[type=email] {
    font-family: 'PF DIN Text Pro Bold';
    color: #333;
    border-radius: 0;
    border-color: #999;
    @include at-query($min, $postSmall) {
      width: 80%;
    }
  }

  textarea {
    font-family: 'PF DIN Text Pro Regular';
    color: #333;
    border-radius: 0;
    border-color: #999;
  }

  .shop-now-btn {
    border-color: #333;
    width: 100%;
    color: #000;
    @include at-query($min, $postSmall) {
      width: 25%;
      margin: 5% 25% 0;
    }
  }
}

.contact-label {
  text-align: left;
  text-transform: uppercase;
  color: #333;
  @include at-query($max, $small) {
    font-size: 4vw;
  }
}

