/*============================================================================
  Fonts
==============================================================================*/

// font-family: 'PF DIN Text Pro Regular'
// font-family: 'PF DIN Text Pro Light'
// font-family: 'PF DIN Text Comp Pro Light'
// font-family: 'PF DIN Text Pro Bold'

@mixin font-file($asset-font-name) {
  src: url(' {{ "#{$asset-font-name}.eot" | asset_url }} ');
  src: url(' {{ "#{$asset-font-name}.eot" | asset_url }} ?#iefix ') format("embedded-opentype"),
  url(' {{ "#{$asset-font-name}.woff" | asset_url }} ') format("woff"),
  url(' {{ "#{$asset-font-name}.ttf" | asset_url }} ') format("truetype"),
  url(' {{ "#{$asset-font-name}.svg" | asset_url }} ') format("svg");
}



h3 {
  margin: 10% auto 5%;
  width: 80%;
  font-family: 'PF DIN Text Pro Bold';
  letter-spacing: .4vw;
  font-size: 3vw;
  @include at-query($max, $large) {
    font-size: 3rem;
  }
  @include at-query($max, $small) {
    font-size: 7vw;
  }
}


h5 {
  color: #333;
  font-family: 'PF DIN Text Pro Bold';
  font-size: 1.3vw;
  line-height: 1;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin: 0 auto 1vh;
  @include at-query(null, $postSmall, $large) {
    font-size: 1.7vw;
  }
  @include at-query($min, $postSmall) {
    width: 67%;
  }
  @include at-query($max, $small) {
    font-size: 4vw;
  }
}

p {
  color: #333;
  font-size: 1.3vw;
  font-family: 'PF DIN Text Pro Regular';
  letter-spacing: .05rem;
  padding-bottom: 2rem;
  margin: 0 auto 1vh;
  @include at-query(null, $postSmall, $large) {
    font-size:1.4vw;
  }
  @include at-query($min, $postSmall) {
    width: 67%;
  }
  @include at-query($max, $small) {
    font-size: 4vw;
  }
}

