/*============================================================================
  Fonts
==============================================================================*/

// font-family: 'PF DIN Text Pro Regular'
// font-family: 'PF DIN Text Pro Light'
// font-family: 'PF DIN Text Comp Pro Light'
// font-family: 'PF DIN Text Pro Bold'

@mixin font-file($asset-font-name) {
  src: url(' {{ "#{$asset-font-name}.eot" | asset_url }} ');
  src: url(' {{ "#{$asset-font-name}.eot" | asset_url }} ?#iefix ') format("embedded-opentype"),
  url(' {{ "#{$asset-font-name}.woff" | asset_url }} ') format("woff"),
  url(' {{ "#{$asset-font-name}.ttf" | asset_url }} ') format("truetype"),
  url(' {{ "#{$asset-font-name}.svg" | asset_url }} ') format("svg");
}


@font-face {
  font-family: 'PF DIN Text Pro Regular';
  src: url(' {{ "pfdintextpro-regular-webfont.woff" | asset_url }} ') format("woff");
}

@font-face {
  font-family: 'PF DIN Text Pro Light';
  src: url(' {{ "pfdintextpro-light-webfont.woff" | asset_url }} ') format("woff");
}

@font-face {
  font-family: 'PF DIN Text Comp Pro Light';
  src: url(' {{ "pfdintextcomppro-light-webfont.woff" | asset_url }} ') format("woff");
}

@font-face {
  font-family: 'PF DIN Text Pro Bold';
  src: url(' {{ "pfdintextpro-bold-webfont.woff" | asset_url }} ') format("woff");
}

