<div class="grid">
  <div class="grid__item hero">
    <img src="//placehold.it/1000x750" />
  </div>

  <div class="grid__item">
    <img src="//placehold.it/1000x250" />
  </div>

  <div class="grid__item">
    <img src="//placehold.it/1000x400" />
  </div>
  <div class="grid__item">
    <img src="//placehold.it/1000x400" />
  </div>
  <div class="grid__item">
    <img src="//placehold.it/1000x400" />
  </div>
  <div class="grid__item">
    <img src="//placehold.it/1000x400" />
  </div>

  <div class="grid__item">
    <img src="//placehold.it/1000x250" />
  </div>

  <div class="grid__item large--one-half">
    <img src="//placehold.it/1000x250" />
  </div>
  <div class="grid__item large--one-half">
    <img src="//placehold.it/1000x250" />
  </div>

  <div class="grid__item">
    <img src="//placehold.it/1000x250" />
  </div>

  <div class="grid__item large--one-half">
    <img src="//placehold.it/1000x250" />
  </div>
  <div class="grid__item large--one-half">
    <img src="//placehold.it/1000x250" />
  </div>

</div>